body{
/*   margin-bottom: 60px; */
}
body { 
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/9b/9c/ef/9b9cefa3d0b19285a39163230b8edb09.jpg');
/*     background-repeat: repeat;  */
    background-attachment: fixed;
    /* background-position: center;  */
}
h1{
/*   color:white; */
  font-family:League-Gothic;
  font-size: 300%;
}
p{
/*   color:white; */
  font-family:League-Gothic;
  font-style:italic;
  font-size: 125%;
}
img{
  padding: 35%;
}
spam{
  
}
.quote{ 
  font-weight: normal; 
  font-style: normal; 
}
.quotes{
  font-family: '8BITWONDERNominal';
}
.author{
  font-style:italic;
}
.blockP1{
  background-color:#05FBAF;
  border-color: black;
  border-style: solid;
  color: black;
  opacity:.95;
  padding:1%;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 3%;
}
.blockP2{
  background-color:#FF53CD;
  opacity:.99;
  width:auto;
  padding:2%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 5%;
  font-size: 110%;
  height:auto;
  border-color: black;
  border-style: solid;
  color: yellow;
}
.paddingTop{
  padding-top:2%;
  padding-bottom:2%;
}
.paddingTopContact{
  padding-top:10%;
}
.paddingBottom{
/*   padding-top:2%; */
  padding-bottom:2%;
}
.btn-default{
  padding-top:2%;
  padding-bottom:2%;
  margin-bottom:25px;
  font-family:League-Gothic;
  font-size: 150%;
  background-color: #FCFCFC;
  border-color: black;
  border-style: solid;
  opacity:.95;
  padding:20px; 
  width:auto;
  margin-right:auto;
  margin-left:auto;
  border-radius: 7%;

}
#twitterIcon{
  color: #00aced;
}
#youtubeIcon{
  color: #cc181e;
}
